@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}

.App {
  /*text-align: center;*/
}

.navbar {
  height: 60px;
  text-align: center;
}

.navbar h1 {
  margin: 0;
}

.sidebar {
  background-color: #84848B;
  width: 20%;
  height: 90vh;
  float: left;
  position: fixed;
  left: 0;
  overflow: scroll;
  text-align: justify;
  box-shadow: 0px -2px 10px #777;
  z-index: 5
}

.sidebar h3,
.sidebar p {
  text-align: center;
}

.main-content {
  /*background-color: #FFFFD3;*/
  float: left;
  width: 80%;
  height: 90vh;
  position: fixed;
  right: 0;
  overflow: scroll;
  text-align: center;
}

.comment-box {
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgb(165, 165, 165);
  min-width: 750px;
  max-width: 25%;
  min-height: 125px;
}

.comment-content {
  background-color: rgb(207, 216, 220);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  flex-grow: 3;
  overflow: scroll;
}

.comment-author-content {
  display: flex;
}

.comment-date {
  padding: 10px;
  background-color: #2196f3;
  border-radius: 5px 5px 0 0;
  color: white;
}

.comment-form {
  width: 500px;
  margin: 25px auto;
  box-shadow: 0 2px 6px #777;
  border-radius: 5px;
  padding: 15px;
}

.comment-form-container {
  background-color: #DADADF;
  padding: 25px;
}

.bar-show {
  display: flex;
  flex-direction: column;
}

.bar-show-top-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar-photo {
  width: 500px;
  height: 350px;
  margin: 25px 0;
  box-shadow: 0 5px 15px;
  border-radius: 5px;
}

.bar-details {
  box-shadow: 0 8px 15px #777;
  padding: 15px;
  border-radius: 5px;
}
