.App {
  text-align: center;
}

.navbar {
  background-color: lightblue;
  height: 60px;
  text-align: center;
}

.navbar h1 {
  margin: 0;
}

.sidebar {
  background-color: orangered;
  width: 30%;
  height: 90vh;
  float: left;
  position: fixed;
  left: 0;
  overflow: scroll;
  text-align: center;
}

.main-content {
  background-color: goldenrod;
  float: left;
  width: 70%;
  height: 90vh;
  position: fixed;
  right: 0;
  overflow: scroll;
  text-align: center;
}
